/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --blackTransparent: rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Cardo", sans-serif;
  background-color: black;
  .cinzel {
    font-family: "Cinzel", "Cardo", sans-serif;
  }
  .cinzelDeco {
    font-family: "Cinzel Decorative", "Cardo", sans-serif;
  }
}

/* Header principal */
header {
  color: #877232;
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-image: url(./pictures/textureViolet.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  #top {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      height: 100px; /* Limite la hauteur de l'image */
    }
  }

  #bottom {
    height: 100%;
    padding-bottom: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    #textIntro {
      text-align: center;
      .cinzel {
        font-size: 30px;
      }
      .cinzelDeco {
        font-size: 50px;
      }
      button {
        margin-top: 25px;
        background-color: #080736;
        color: #877232;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        font-size: 20px;
      }
    }

    #imgIntro img {
      margin-left: 3em;
      height: 25em;
      border-radius: 30%;
    }
  }
}

/* Header caché */
#hiddenHeader {
  color: #877232;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.7s linear;
  background-image: url(./pictures/textureViolet.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  height: 0;
  width: 100%;
  text-align: center;

  img {
    height: 100px;
  }
}
